.contactData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}

.contactData input {
  display: block;
  width: 50%;
  margin: auto;
}
@media (min-width: 800px) {
  .contactData {
    width: 700px;
  }
}
